<h3>Sign In</h3>
<form [formGroup]="myForm" (ngSubmit)="onSignin()">
    <div class="form-group">
        <label for="email">E-Mail</label>
        <input class="form-control" 
               formControlName="email" 
               type="email" 
               id="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" 
               formControlName="password" 
               type="password" 
               id="password">
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!myForm.valid">Sign In</button>
    <h4>{{signinStatus}}</h4>
    <br/>
    <a (click)="onSignUp()" style="cursor: pointer"><h4>New User Sign Up</h4></a>
</form>